.sapUshellShellHeader {
    background-color: transparent;
}

.sapUshellFiori3.sapUshellShellHeader {
    height: 3.875rem;
    @media screen and (min-width: 600px) {
        padding: 0 2rem;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 3.125rem;
    }
    @media screen and (max-width: 600px) {
        padding: 0 0.5rem;
    }
}

.sapUshellFiori3 .sapUshellShellCanvas {
    top: 3.875rem;
}

.sapUshellFiori3.sapUshellShellHeader #shell-header-icon {
    max-height: 1.875rem;
    max-width: 13.625rem;
    @media screen and (max-width: 600px) {
        max-height: 0.625rem;
        max-width: 8.125rem;
    }
}

.sapUshellFiori3.sapUshellShellHeader .sapUshellShellIco {
    line-height: 3.75rem;
    margin-left: 0;
}

.sapUshellShellHeadBegin .sapUshellAppTitle {
    align-items: center;
    display: flex;
}

.sapUshellShellHeadBegin {
    border-bottom: 1px solid #979797;
    .sapUshellAppTitle {
        outline: 0;
        .sapUshellHeadTitle {
            color: #D0D0D0;
            font-family: Avenir, 72, 72full, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 25px;
        }
        .sapUshellShellHeadAction {
            display: flex;
            align-items: center;
            color: #D0D0D0;
            padding-top: 5px;
        }
    }
}

.sapUshellAppTitleClickable:active {
    background-color: rgba(52, 97, 135, 0.15);
}

header {
    .sapUshellShellHeadBegin {
        padding: 0 !important;
        align-items: center;
        position: relative;
        overflow: visible;
        #backBtn {
            position: absolute;
            left: -28px;
            z-index: 1;
            @media (min-width: 1024px) {
                left: -40px;
            }
        }
    }
    .sapUshellShellHeadEnd {
        display: flex;
        align-items: center;
        padding: 0 !important;
        border-bottom: 1px solid #979797;
    }
    .sapUshellShellHeadEnd .sapUshellShellHeadItm>span {
        color: #ffffff;
    }
    .sapUshellShellHeadItm {
        .sapUshellShellHeadItmCntnt {
            color: #ffffff;
        }
    }
    .searchSelect {
        border-color: #ead5d9 !important;
    }
    .sapMInputBaseContentWrapper {
        border-color: #ffffff !important;
    }
    .sapUshellShellHeadSearchContainer {
        #searchFieldInShell-select {
            background: rgba(255, 255, 255, 0.8) !important;
            border: .0625rem solid rgba(255, 255, 255, 0.8) !important;
            .sapUiIcon {
                color: #000 !important;
            }
            .sapMSltArrow {
                background-color: transparent !important;
                color: #000 !important;
                &:before {
                    color: #000 !important;
                }
            }
        }
        #searchFieldInShell {
            margin-top: 8px;
        }
        .searchBtn {
            .sapUiIcon {
                color: #fff !important;
            }
            .sapMBtnInner {
                background: transparent !important;
                border: .0625rem solid rgba(255, 255, 255, 0.8) !important;
                text-shadow: none !important;
            }
            &:hover {
                .sapMBtnInner {
                    border-color: rgb(255, 255, 255) !important;
                }
            }
        }
        .sapUshellSearchCancelButton {
            .sapMBtnInner {
                background: transparent !important;
                border: .0625rem solid rgba(255, 255, 255, 0.8) !important;
                color: #fff !important;
                text-shadow: none !important;
            }
        }
    }
}

.sapUshellAnchorNavigationBarInner {
    border-bottom: 0;
}

.sapUshellShellBG {
    background-color: transparent;
    //background: url('bg_dark.jpg');
}

.sapMPageHeader {
    height: 3.75rem;
    &.sapUshellAnchorNavigationBar {
        background-color: rgba(26, 76, 125, 0.61);
        background-color: transparent;
    }
    .sapUshellAnchorNavigationBarItemsScroll {
        .sapUshellAnchorItem {
            padding: 0 0;
        }
        .sapUshellAnchorItemInner {
            line-height: 3.563rem;
            color: #D0D0D0;
            font-family: Avenir, 72, 72full, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            text-shadow: none;
            padding: 0 0.938rem;
            outline: 0;
            &:hover {
                color: #ffffff;
            }
        }
    }
    .sapUshellAnchorLeftOverFlowButton,
    .sapUshellAnchorRightOverFlowButton,
    .sapUshellAnchorItemOverFlow {
        margin-top: 0.65rem;
        button {
            color: #D0D0D0;
            &:hover {
                .sapMBtnHoverable {
                    background-color: rgba(4, 41, 93, 0.8) !important;
                    color: #d0d0d0 !important;
                }
            }
            .sapUiIcon {
                text-shadow: none !important;
                color: #d0d0d0 !important;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .sapUshellAnchorNavigationBar {
            padding: 0 3.125rem;
        }
    }
}

.sapUshellAnchorItemSelected .sapUshellAnchorItemInner:not(.sapUshellAnchorInnerMarker) {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
}

.sapUshellTileContainerHeader {
    .sapUshellContainerTitle {
        color: #ffffff;
        text-shadow: none !important;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        text-shadow: none;
        padding-left: 0 !important;
        outline: 0;
    }
}

.sapUshellTileWrapper {
    width: 18.75rem;
    height: 10.938rem;
}

.sapUshellTile {
    border-radius: 2px;
    margin: 0 1.563rem 1.563rem 0;
    min-height: 10.938rem;
    .sapUshellTileInner {
        max-width: 18.75rem;
        max-height: 10.938rem;
        outline: 0;
        .sapMGTHdrTxt>.sapMText {
            color: #04295E;
            font-family: Avenir, 72, 72full, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 25px;
        }
        .sapMGTSubHdrTxt>.sapMText,
        .sapMGTSubHdrTxt {
            color: #1A4C7D;
            font-family: Avenir, 72, 72full, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 27px;
        }
        .sapMGT {
            border: 0;
            border-radius: 0;
            box-shadow: none;
            outline: 0;
            display: flex;
            flex-direction: column;
        }
        .sapMGT.OneByOne {
            width: 100%;
            height: 100%;
        }
        .sapMGTHdrContent {
            margin: 0;
            padding-top: 1.25rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            flex: 1;
        }
        .sapMGTContent {
            .sapMTileCntContent {
                padding-left: 0.875rem;
                padding-right: 0.875rem;
                padding-bottom: 0.938rem;
                margin-bottom: 0;
            }
        }
    }
    .sapMGTContent {
        .sapMNCInner {
            position: relative;
            .sapMNCValueScr {
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-end;
                color: #93AEB6;
            }
            .sapUiIcon {
                color: #649CEC;
                width: 3.75rem;
                font-size: 3.75rem;
                line-height: 3.75rem;
                height: 3.75rem;
                padding-right: 0;
                margin-right: 15px;
            }
        }
        .sapMImageContent {
            margin-left: auto;
            .sapUiIcon {
                color: #649CEC;
                width: 3.75rem;
                font-size: 3.75rem;
                right: 0;
                left: auto;
            }
        }
    }
    .sapMGTContent,
    .sapMTileCntContent,
    .sapMTileCnt {
        height: auto;
    }
}

.sapUshellShellHeadSearchContainer {
    border-bottom: 1px solid #979797;
}

ul.sapUshellInner {
    li.sapUshellTile {
        background: #34486A;
        border-radius: 8px;
        overflow: hidden;
        .sapUshellTileWrapper {
            .sapMGT {
                background: #34486A;
                color: #fff;
                .sapMGTTitle.sapMText {
                    font-size: 16px;
                    font-weight: 900;
                    letter-spacing: 0;
                    line-height: 19px;
                    color: #fff !important;
                }
                .sapMText {
                    color: #93AEB6;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 27px;
                }
            }
            .sapMGTContent {
                .sapMTileCnt {
                    .sapMTileCntFooterTextColorNeutral {
                        color: #AE766C;
                        font-size: 16px;
                        font-weight: 900;
                        letter-spacing: 0;
                        line-height: 22px;
                    }
                    .sapMTileCntContent {
                        .sapMImageContent {
                            .sapUiIcon {
                                color: #6095e1;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Background Image */
#mainShell{
    .sapUshellShellBG.sapUiShellBackgroundImage{
        background-image: url('../bg_dark.jpg');
        opacity: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/* my sales dashboard */
#application-Z_OTC_SALESDB-display{

    #__layout68{
        padding: 1rem 0 1rem 25px;
        /* sales order fulfillment orders */
        #__layout65.sapMFlexBoxBGTransparent{
            background-color: rgba(61, 71, 104, 0.82) !important;
            border-radius: 7.64px;
            padding-left: 0;
            height: 430px;
            > .sapuiVltCell{
                padding-bottom: 6px;
            }
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding: 0 25px;
            }
            #__text3187{
                color: #A1CFE7;
                font-size: 13.65px;
                letter-spacing: 0;
                line-height: 16px;  
                padding: 0 25px;
                font-weight: 400;
            }
            #UIComp_16{
                margin: 0 auto;
                .v-legend-element.v-legend-item, .v-datalabel.v-morphable-label{
                    fill: white;
                }
            }
        }
        /* end of sales order fullfilment orders */

        /* sales volume  - check open sales */
        #__layout66.sapMFlexBoxBGTransparent{
            background-color: rgba(61, 71, 104, 0.82) !important;
            border-radius: 7.64px;
            position: relative;
            > .sapuiVltCell{
                padding-bottom: 6px;
            }
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding: 0 1rem;
            }
            #__hbox28, #__hbox29{
                position: relative;
                width: 90%;
                background-color: transparent;
                >.sapMFlexBoxBGTransparent{
                    background-color: transparent;
                }
                .sapMObjStatusText {
                    color: #23BB32;
                    font-size: 28.66px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 34px;
                    padding: 0 0 0 1rem;
                }
            }
            #application-Z_OTC_SALESDB-display-component---Home--IdOpenSlsTitle, #application-Z_OTC_SALESDB-display-component---Home--IdOpenDelTitle{
                color: #D4D3D3;
                font-size: 12.29px;
                letter-spacing: 1.02px;
                line-height: 22px;
            }
            #__text3188{
                color: #A1CFE7;
                font-size: 13.65px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 16px;  
                padding: 0 1rem;
                position: absolute;
                top: 152px;
            }
            #application-Z_OTC_SALESDB-display-component---Home--idSlsDte{
                width: 100% !important;
                position: relative;
                #application-Z_OTC_SALESDB-display-component---Home--idSlsDte-content{                    
                    border: 0;
                    border-bottom: 1.23px solid #4F5C89;
                    background: transparent;
                    width: 45% !important;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    .sapMInputBaseInner, .sapMInputBaseIcon{
                        color: white;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    left: -15px;
                    bottom: 22px;
                    background-color: #4F5C89;
                    height: 2.73px;
                    width: 37vw;
                }
            }
            #UIComp_17{
                width: 100% !important;
                .v-gridline{
                    stroke: #4F5C89;
                }
                .v-legend-element.v-legend-item, .v-datalabel.v-morphable-label, .v-label{
                    fill: white;
                }
                .v-title{
                    fill: #A4A4A4;
                }
                .v-datapoint{
                    rect{
                        stroke-width: 0;
                    }
                }
            }
        }
        /* end of sales volume  - check open sales */

        /* incoming sales orders */
        #__layout67.sapMFlexBoxBGTransparent{
            background-color: rgba(61, 71, 104, 0.82) !important;
            border-radius: 7.64px;
            padding: 1rem 0;
            position: relative;
            > .sapuiVltCell{
                padding-bottom: 6px;
            }
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding: 0 25px;
            }
            #__text3189{
                color: #A1CFE7;
                font-size: 13.65px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 16px;  
                padding: 1rem 25px 0;
                border-top: 2px solid #4F5C89;
                width: 96%;
            }
            #__box38{
                position: absolute;
                top: 178px;
                right: 15px;
                .sapMInputBaseContentWrapper{
                    border: 0;
                    border-bottom: 1.23px solid #4F5C89;
                    background: transparent;
                    .sapMInputBaseInner, .sapMInputBaseIcon{
                        color: white;
                    }
                }
            }
            #application-Z_OTC_SALESDB-display-component---Home--idSalesIncomChart{
                #UIComp_18{
                    width: 100% !important;
                    padding: 0 15px 0 8px;
                    .v-title.viz-axis-title, .v-legend-element{
                        fill: #A4A4A4;
                    }
                    .v-datalabel, .v-legend-element, .v-axis-label-wrapper , .v-morphable-label{
                        fill: #fff;
                    }
                    .v-gridline{
                        stroke: #4F5C89;
                    }
                    .v-datapoint{
                        rect{
                            stroke-width: 0;
                        }
                    }
                }
            }
            #application-Z_OTC_SALESDB-display-component---Home--idSalesTable{
                #application-Z_OTC_SALESDB-display-component---Home--idSalesTable-listUl{
                    .sapMLabel{
                        color: #FFFFFF;
                        font-size: 12.61px;
                        letter-spacing: 0;
                        line-height: 15px;
                    }
                }
                #application-Z_OTC_SALESDB-display-component---Home--idSalesTable-tblHeader{
                    >.sapMTableTH{
                        background: #455278 !important;
                        border-bottom: 1.05px solid #4F5C89;
                        padding: 0 3px;
                    }
                }
                #application-Z_OTC_SALESDB-display-component---Home--idSalesTable-tblBody{
                    .sapMText{
                        color: #FFFFFF;
                        font-size: 12.29px;
                        letter-spacing: 0;
                        line-height: 32px;
                    }
                }
                .sapMGrowingListTrigger{
                    border-top: 2.1px solid #5F70A5;
                }
                .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td {
                    border-bottom: 1px solid #5F70A5;
                }
                #application-Z_OTC_SALESDB-display-component---Home--idSalesTable-triggerInfo{
                    text-shadow: none;
                    color: white;
                    font-size: 12.61px;
                    letter-spacing: 0;
                    line-height: 15px;
                    padding: 0 1rem;
                }
                #application-Z_OTC_SALESDB-display-component---Home--idSalesTable-triggerText{
                    text-shadow: none;
                    color: white;
                    font-size: 12.6px;
                    letter-spacing: 0;
                    line-height: 15px;
                    padding: 0 1rem;
                }
                .sapMLIBShowSeparator>td{
                    border-top: 1.05px solid #4F5C89;
                }
                .sapMLIB{
                    background: transparent;
                    border: 0;
                }
            }
            #__hbox30, #__hbox31{
                background-color: transparent;
                >.sapMFlexBoxBGTransparent{
                    background-color: transparent;
                }
                .sapMObjStatusText {
                    color: #F7B031 !important;
                    font-size: 28.66px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 34px;
                    padding: 0 0 0 25px;
                }
                .sapMText{
                    color: #D4D3D3;
                    font-size: 12.29px;
                    letter-spacing: 1.02px;
                    line-height: 14px;
                }
            }
        } 
        /* end of incoming sales orders */
    }

   
    #__layout72{
        /* sales volume  - profit margin */
        #__layout69.sapMFlexBoxBGTransparent{
            background-color: rgba(61, 71, 104, 0.82) !important;
            border-radius: 7.64px;
            padding-left: 0;
            height: 430px;
            > .sapuiVltCell{
                padding-bottom: 6px;
            }
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding-left: 25px;
            }
            #__hbox32{
                position: relative;
                width: 90%;
                background-color: transparent;
                padding: 0 0 0 25px;
                >.sapMFlexBoxBGTransparent{
                    background-color: transparent;
                }
                .sapMObjStatusText {
                    color: #F7B031 !important;
                    font-size: 28.66px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 34px;
                    padding: 1rem 0 0 0;
                }
                #application-Z_OTC_SALESDB-display-component---Home--IdMarginTitle{
                    color: #D4D3D3;
                    font-size: 12.29px;
                    letter-spacing: 1.02px;
                    line-height: 14px;
                    padding-top: 10px !important;
                }
                &:after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    bottom: -10px;
                    background-color: #4F5C89;
                    height: 2.73px;
                    width: 37vw;
                }
            }
            #__text3193{
                color: #A1CFE7;
                font-size: 13.65px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 16px;  
                position: absolute;
                top: 132px;
                padding: 0 25px;
            }
            #application-Z_OTC_SALESDB-display-component---Home--idPrtDte{
                width: 100% !important;
                #application-Z_OTC_SALESDB-display-component---Home--idPrtDte-content{
                    border: 0;
                    border-bottom: 1.23px solid #4F5C89;
                    background: transparent;
                    width: 35% !important;
                    position: absolute;
                    top: 20px;
                    right: 0;
                    .sapMInputBaseInner, .sapMInputBaseIcon{
                        color: white;
                        font-size: 12.29px;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
            #UIComp_19{
                width: 100% !important;
                margin: 0 auto;
                padding: 0 10px;
                .v-title.viz-axis-title, .v-legend-element{
                    fill: #A4A4A4;
                }
                .v-legend-element, .v-label{
                    fill: white;
                }
                .v-hovershadow{
                   fill: #4f5f8c;
                }
                .v-gridline{
                    stroke: #4F5C89;
                }
                .v-datapoint{
                    rect{
                        stroke-width: 0;
                    }
                }
            }
        }
        /* end of sales volume  - profit margin */

        /* sales volume  - detailed analysis */
        #__layout70.sapMFlexBoxBGTransparent{
            background-color: rgba(61, 71, 104, 0.82) !important;
            border-radius: 7.64px;
            padding-left: 0;
            > .sapuiVltCell{
                padding-bottom: 6px;
            }
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding: 0 25px;
            }
            #__text3194{
                color: #A1CFE7;
                font-size: 13.65px;
                letter-spacing: 0;
                line-height: 16px;  
                padding: 0 25px;
                font-weight: 400;
            }
            #UIComp_20{
                margin: auto;
                .v-legend-element.v-legend-item, .v-datalabel.v-morphable-label{
                    fill: white;
                }
            }
        }
        /* end of sales volume  - detailed analysis */

         /* manage sales orders */
        #__layout71.sapMFlexBoxBGTransparent{
            background-color: #343F5F !important; 
            border-radius: 7.64px;
            padding: 1rem 0;
            position: relative;
            .sapMLnk.styleTitle1{
                color: #FFFFFF;
                font-size: 16.38px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                padding: 0 25px;
            }
            #__text3197{
                color: #A1CFE7;
                font-size: 13.65px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 16px;  
                padding: 0 25px;
                position: absolute;
                top: 48px;
            }
            #__hbox33{
                position: absolute;
                top: 31px;
                right: 10px;
                display: flex;
                background-color: transparent;
                >.sapMFlexBoxBGTransparent{
                    background-color: transparent;
                }
                #application-Z_OTC_SALESDB-display-component---Home--idSoldCombo{
                    width: auto !important;
                    #application-Z_OTC_SALESDB-display-component---Home--idSoldCombo-inner{
                        color: #FFFFFF;
                        font-size: 12.29px;
                        letter-spacing: 0;
                        line-height: 14px;
                    }
                    .sapMInputBaseIcon{
                        color: #ffffff;
                    }
                }
            }
            #__text3195{
                color: #DCDCDC;
                font-size: 11.47px;
                letter-spacing: 0;
                line-height: 14px;
                font-weight: 400;
            }
            #application-Z_OTC_SALESDB-display-component---Home--idSoldCombo-content{
                border: 0;
                border-bottom: 1.23px solid #4F5C89;
                background: transparent;
                width: 150px !important;
            }
            #application-Z_OTC_SALESDB-display-component---Home--idMngSalesTable{
                #application-Z_OTC_SALESDB-display-component---Home--idMngSalesTable-listUl{
                    .sapMLabel{
                        color: #FFFFFF;
                        font-size: 12.61px;
                        letter-spacing: 0;
                        line-height: 15px;
                    }
                }
                #application-Z_OTC_SALESDB-display-component---Home--idMngSalesTable-tblHeader{
                    >.sapMTableTH{
                        background: #455278 !important;
                        border-bottom: 1.05px solid #4F5C89;
                        padding: 0 6px;
                    }
                }
                #application-Z_OTC_SALESDB-display-component---Home--idMngSalesTable-tblBody{
                    .sapMText{
                        color: #FFFFFF;
                        font-size: 12.6px;
                        letter-spacing: 0;
                        line-height: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 138px;
                    }
                }
                .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td {
                    border-bottom: 0;
                }
                #application-Z_OTC_SALESDB-display-component---Home--idMngSalesTable-triggerInfo{
                    text-shadow: none;
                    color: white;
                    font-size: 12.61px;
                    letter-spacing: 0;
                    line-height: 15px;
                    padding: 0 1rem;
                }
                .sapMLIBShowSeparator>td{
                    border-top: 1.05px solid #4F5C89;
                }
                .sapMLIB{
                    background: transparent;
                    border: 0;
                }
            }
        }
        /* end of manage sales orders */
    }

    /*links*/
    #__layout80{
        padding-left: 0;
        padding-right: 28px;
        .columns{
            border-radius: 8px;
            &.sapMFlexBoxBGTransparent{
                background-color: transparent;
            }
            > .sapMFlexBox{
                margin: 0 !important;
                padding: 0;
                border-radius: 8px !important;
                background-color: transparent !important;
                > .sapMFlexBoxBGTransparent {
                    background-color: rgba(61, 71, 104, 0.82) !important; 
                    padding: 20px 25px;
                    border-radius: 8px;
                }
            }
            .sapUiVlt.sapuiVlt{
                .sapMLabelNoText{
                    display: none;
                }
            }
            .sapMTitle{
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 19px;
                text-shadow: none;
                padding-bottom: 10px;
            }
            .sapMLnk{
                color: #599FFF;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 16px;
                font-weight: 400;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        /* quick links first child */
        #__title51{
            display: none;
        }
        >.sapuiVltCell{
            &:first-child{
                padding-bottom: 0;
            }
        }
        /* end of quick links first child */
    }
    /* links */

    /* background color */
    #application-Z_OTC_SALESDB-display-component---App{
       .sapUiGlobalBackgroundColor, .sapMShellGlobalInnerBackground {
            background-color: transparent;
       }
    }
    /* background color */
}

/*End of my sales dashboard */

