/*New Design*/

.comboClassMonitor {
    width: 15rem !important;
    max-width: 250px !important;
}
.MonitorStyle {
    width: 20rem !important;
    padding-top: 0.5rem !important;
}
.OverdueStyle {
    width: 25rem !important;
    padding-top: 0.5rem !important;
}
.styleTitleContract {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.Dynamictext {
    padding-left: 2.5rem;
}

.TitleWidth {
    padding-left: 7rem;
    color: gray;
}

.PIwidth>div {
    width: 10rem;
}

.marginStyle {
    padding-top: 0.2rem !important;
    padding-left: 10px !important;
}

.styleObjectStatusSls {
    font-size: 20px!important;
}

.HeaderText {
    width: 55rem;
}

.titleClassDate {
    margin-top: 15px !important
}

.styleTitle {
    font-size: 1.4rem !important;
    padding-left: 8rem !important;
}

.styleTitle1 {
    font-size: 1rem !important;
    font-weight: bold !important;
    width: 50rem !important;
}

.styleObjectStatus1 {
    /*padding-left: 4rem !important;*/
    font-size: 18px;
    width: 10rem !important;
    /*color: #E8743B!important;*/
}

.styleText {
    margin-top: 1px;
    margin-left: 22%;
    width: 26rem;
}

.styleText1 {
    font-size: 1rem !important;
    margin-left: -7.5%;
    width: 18rem;
}

.styleObjectStatus {
    /* padding-left: 4rem !important; */
    font-size: 18px;
    width: 3rem !important;
}

.styleObjectStatusTarget {
    /* padding-left: 4rem !important; */
    /*font-size: 1.5rem !important;*/
    font-size: 18px;
    width: 20rem !important;
    width: 6.6rem;
}

.styleTextTarget {
    font-size: 1rem !important;
    margin-left: -65%;
    width: 13rem;
}

.styleTextDays {
    font-size: 1rem !important;
    margin-left: -78%;
    width: 20rem;
    margin-top: 1px;
}

.styleObjectStatusTarget>span {
    color: #E8743B!important;
}

.styleTextRelTarget {
    font-size: 1rem !important;
    margin-left: -88%;
    width: 20rem;
}


/*New Design*/

.Vizwidth {
    width: 100% !important;
}


/*.styleTitle {*/


/*    font-size: 1.2rem !important;*/


/*    padding-left: 2rem !important;*/


/*}*/


/*.styleTitle1 {*/


/*    font-size: 1rem !important;*/


/*    padding-left: 4rem !important;*/


/*    font-weight: bold !important;*/


/*}*/

.sapMFlexBoxBGTransparent {
    background-color: white;
    /* border-radius:6% !important;*/
}

.HorizontalLayoutID {
    width: 100% !important;
}

.HorizontalLayoutID .sapUiHLayoutChildWrapper:first-child {
    width: 40% !important;
}

.sapUiHLayoutChildWrapper {
    width: 40% !important;
}

.sapUiHLayoutChildWrapper:last-child {
    width: 20% !important;
}

.styleBorder {
    border-radius: 6% !important;
}

.columns {
    padding-bottom: 2rem;
}

.comboClass {
    width: 19rem !important;
    max-width: 320px !important;
}

.titleClass {
    margin-top: 10px !important
}

.comboClassValue {
    width: 15rem !important;
    max-width: 215px !important;
}

.comboClass1 {
    width: 15rem !important;
    max-width: 240px !important;
}