.styleTitle {
    font-size: 1.4rem !important;
    padding-left: 8rem !important;
}

.styleTitle1 {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.sapMFlexBoxBGTransparent {
    background-color: white;
    /* border-radius:6% !important;*/
}
.sapUiVlt.sapUiContentPadding {
    padding: .5rem;
    box-sizing: border-box;
}
.borderStyle{
	/*box-shadow: 1px 1px 4px 4px #9a959575;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.monthStyle1 {
    width: 11rem !important;
    max-width: 220px !important;
}
.comboStyle {
    width: 8.7rem !important;
    max-width: 220px !important;
}
.comboStyle1 {
    width: 12.7rem !important;
    max-width: 220px !important;
}
.HorizontalLayoutID {
    width: 100% !important;
}

.HorizontalLayoutID .sapUiHLayoutChildWrapper:first-child {
    width: 38% !important;
}

.sapUiHLayoutChildWrapper {
    width: 38% !important;
}

.sapUiHLayoutChildWrapper:last-child {
    width: 24% !important;
}

.styleBorder {
    border-radius: 6% !important;
}

.styleObjectStatus {
    font-size: x-large !important;
     padding-left: 0.5rem !important;
}
.styleObjectStatus1{
	font-size: x-large !important;
}
.styleObjectStatusSls {
    font-size: x-large !important;
}

.styleObjectStatusInSls {
    font-size: x-large !important;
}

.styleObjectStatusInSls1 {
    font-size: medium !important;
}

.comboClass {
    max-width: 170px !important;
    padding-left: 13px !important;
}

.titleClass {
    margin-top: 10px;
}

.marginStyle {
    padding-top: 0.6rem !important;
    padding-left: 10px !important;
}

.marginPadding {
    padding-left: 10px !important;
    padding-top: 0.2rem !important;
}

.marginOpenSlsStyle {
    padding-top: 0.6rem !important;
}
.SlsStyle{
		width: 28rem !important;
		padding-top: 0.9rem !important;
}
.styleObjectStatusOpnSls {
    font-size: x-large !important;
    width: 4.2rem !important;
}

.styleOpnIcgTitle {
    padding-left: 8rem !important;
    font-size: x-large !important;
}

.soldClass {
    padding-top: 10px !important;
}

.dateStyle {
    width: 180% !important;
}

.profitStyle {
    height: 475px !important;
}
.currencyStyle{
	padding-top: 0.6rem !important;
	    width: 16rem !important;
}
.PrftStyle{
	width: 12rem !important;
	padding-top: 0.6rem !important;
}
.marginStyle1 {
    padding-top: 0.65rem !important;
    width: 11rem !important;
    /*padding-left: 10px !important;*/
}
.todayStyle{
	 padding-top: 0.5rem !important;
}
#ui5-viz-controls-app {
    margin: -70px;
    position: relative;
    width: 100%;
    height: 100%;
}